/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Estilos del menú */

#menu a, button {
    font-size: 18px !important;
    font-weight: 600;
}

#menu a {
    color: #0a0202;
}

/* Estilos del slider de imágenes */

.carousel-inner {
    max-height: 39rem !important;
}

/* Estilos de la sección de nuestro equipo */

#img-equipo {
    max-height: 30rem !important;
    width: 50%;
}

/* Estilos de la sección de nuestro equipo con mapa */

#local {
    margin-top: 50px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    padding-bottom: 300px;
}

.mapa-container {
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    position: relative;
}

.mapa-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper-local {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper-local .mapa {
    flex: 1;
    margin-right: 30px; /* Espacio entre el mapa y el texto */
}

.wrapper-local .texto {
    flex: 2;
}

#numeros-local {
    margin: 0 !important;
    padding: 0 !important;
}

#numeros-local div {
    padding: 0 20px 0 0;
    text-align: left;
    height: 48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child) {
    padding-left: 20px;
}

#numeros-local p {
    margin: 0;
}

/* Estilos del fondo de la sección de contacto */

#bg-contactos {
    position: relative;
    top: -130px;
}

#seccion-contacto {
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}

/* Estilos del formulario de contacto */

#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
}

#titulo-formulario {
    color: #3f3f3f;
}

/* Estilos del footer */

footer {
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}

/* Media Queries */

@media (max-width: 1200px) {
    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }

    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

@media (max-width: 768px) {
    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }

    #img-equipo {
        max-height: 20rem !important;
        width: 90%;
    }

    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

    #local {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    #servicios-fila-2 {
        width: 90% !important;
        margin: auto;
    }

    #vehiculos,
    #servicios-fila-2 {
        flex-wrap: wrap;
    }

    .icono-wrap {
        width: 100% !important;
        text-align: center;
    }

    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }

    #img-equipo {
        max-height: 18rem !important;
        width: 90%;
    }

    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

    #contenedor-formulario {
        width: 90% !important;
    }
}

@media (max-width: 320px) {
    #intro h1 {
        font-size: 1.5rem;
    }

    #intro p {
        font-size: 1rem;
    }

    .fs-5 {
        font-size: 0.9rem !important;
    }

    .wrapper-local {
        padding-top: 50px;
    }

    #contenedor-formulario {
        width: 95% !important;
    }
}

/*css de las cards*/
.card a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto */
  }
  
  .card a:hover {
    text-decoration: none; /* Mantiene el texto sin subrayado al pasar el mouse */
  }
  
/*css del login*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.container_login {
    width: 100%;
    height:100vh;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: 100%;
    max-width: 450px;
    background-color: #1955ce;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #ffffff;
    position: relative;
}

.form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);


}

.input-field {
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transform: max-height 0.5s;
    overflow: hidden;
}

/*css sedan*/
body {
    background-color: #f9f9f9;
  }
  .product-container {
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .carousel-inner img {
    border-radius: 10px;
  }
  .btn-reserve {
    margin: 10px 0;
  }

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #ffffff;
}


input::placeholder{
    color: #ffffff;
}


.input-field i{
    margin: 15px;
    color: #ffffff;

}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn-field button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    height: 35px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;

}

.btn-field button.disable {
    background-color: #eaeaea;
    color: #2C2F35;

}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #ffffff;
    padding-top: 20px;
}